﻿.h3-header {
    margin-top: 40px;
    /*margin-left:10px;*/
    padding-left: 5px;
    background-color: #00447C;
    color: #fff;
}

.row-master-subheader {
    /*margin-right: 40px;
    margin-left: 10px;*/
    padding-top: 15px;
    padding-bottom: 3px;
    font-family: roboto;
    border-bottom: 15px solid #00447C; /*border-bottom: 1px solid #DDDBDB;*/
    /* padding-bottom: 5px; */
    font-size: 12pt;
}

.page-header {
    font-weight: bold;
    color: #00447C;
}

.logo {
    height: 60px;
}

.table-header-row {
    background-color: #206A87;
    color: white;
    font-weight: bold;
    padding: 5px;
}


.td-bg-primary {
    background-color: #00447C;
    color: #ffffff;
}
.td-bg-secondary {
    background-color: #358ac0;
    color: #ffffff;
}
.btn-primary {
    color: #fff;
    background-color: #00447C;
    border-color: #2e6da4;
    margin-top: 3px;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #00447C;
        opacity: .8;
        border-color: #2e6da4;
        margin-top: 3px;
    }
.icon-info {
    color: #00447C;
    left: 0px;
    vertical-align: bottom;
    top: -9px;
    width: 3px;
}

.tr-question {
    color: #358ac0;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
