﻿/*start boostrap override*/

.panel-default > .panel-heading {
    color: #fff;
    background-color: #005CA7;
    border-color: #ddd;
}

table {
    border-spacing: 0;
    border-collapse: initial;
}

label {
    font-weight: normal;
    padding-left: 3px;
    padding-right: 0;
    padding-right: 3px;
}

.radio {
    float: none;
}

    .radio input[type="radio"] {
        float: none;
    }

.section-highlight {
    background-color: #D8E7FF;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 1px 1px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.control-tooltip {
    color: #337ab7;
}

.txt-min {
    min-width: 100px;
}

input,
select,
textarea {
    max-width: 325px;
}

.glyphicon {
    position: relative;
    /*top: -3px;*/
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 3px;
    color: #959DAC;
}

.nav-top > li > a {
    position: relative;
    display: inline;
    padding: 10px 15px;
    color: #959DAC;
}

    .nav-top > li > a:hover {
        position: relative;
        /* display: block; */
        padding: 10px 15px;
        background-color: #FFF;
        color: #1F4379
    }


.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    /*padding-left: 32px;*/
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: top; /*vertical-align: middle;*/
    cursor: pointer;
    top: 0px;
    left: 1px;
    height: 22px;
}


form .form-control[disabled] {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e5e5e5;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tooltip > .tooltip-inner {
    text-align: left;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #26558A;
    border-color: #2e6da4;
    margin-top: 3px;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #2D77CA;
        border-color: #2e6da4;
        margin-top: 3px;
    }
/*end boostrap override*/
.h3-header {
    margin-top: 40px;
    /*margin-left:10px;*/
    padding-left: 5px;
    background-color: #528CDA;
    color: #fff;
}

.progressModal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    padding-left: 0px;
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.8;
    top: 0px;
    left: 0px !important;
}

.spinner-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.border-left {
    border-left: 1px solid #999999;
}

.row-master-header {
    /*margin-right: 40px;
    margin-left: 10px;*/
    padding-top: 5px;
    height: 40px;
    font-family: roboto;
    border-bottom: 1px solid #DDDBDB;
    /* padding-bottom: 5px; */
}

.row-master-subheader {
    /*margin-right: 40px;
    margin-left: 10px;*/
    padding-top: 15px;
    padding-bottom: 3px;
    font-family: roboto;
    border-bottom: 15px solid #004A8F; /*border-bottom: 1px solid #DDDBDB;*/
    /* padding-bottom: 5px; */
    font-size: 12pt;
}

.row-seperator {
    margin-right: 40px;
    margin-left: 10px;
    padding-top: 5px;
}

body {
    font-family: Calibri, Arial, sans-serif;
    font-size: medium;
    /*background-image: url("Images/debut_dark.png");*/
    background-color: #F2F2F2; /*#fff;*/
    background-repeat: repeat;
    padding-bottom: 10px;
}

#h-login {
    margin-top: -8px;
    font-size: 12px;
}

    #h-login.sub-text {
        display: block;
    }

.page-header {
    font-weight: bold;
    color: #004A8F;
}

.logo {
    height: 60px;
}

.table-header-row {
    background-color: #206A87;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.bg-content {
    background-color: #fff; /*#f4f4f4;*/
    margin-top: 10px;
    /*border: 1px solid #c2c2c2;*/
    background-image: none;
    padding: 15px;
    /*min-height: 510px;*/
    /*margin-bottom: 20px;*/
}

.td-bg-primary {
    background-color: #528CDA;
    color: #ffffff;
}

.td-bg-secondary {
    background-color: #26558A;
    color: #ffffff;
}

.text-underline {
    text-decoration: underline;
}

.text-nowrap {
    white-space: nowrap;
}

.text-bold {
    font-weight: bold;
}

.icon-menu {
    padding: 5px;
    vertical-align: bottom;
    /*min-height: 155px;*/
}

.icon-border:hover {
    border: 1px solid #004A8F;
    opacity: .8;
}

.survey-icon {
    height: 32px; /*64px*/
    width: 32px; /*64px*/
}

.nav-site {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.nav-site-sm {
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#ul-site-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    #ul-site-nav li {
        display: inline-block;
        float: none;
        text-align: center;
        vertical-align: top;
        width: 155px;
    }

.site-nav-icon {
    width: 100px;
    height: 100px;
}

#ul-site-nav-sm {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    #ul-site-nav-sm li {
        display: inline-block;
        width: 120px;
        text-align: center;
        vertical-align: top;
        padding-left: 15px;
        padding-right: 15px;
    }

.site-nav-icon-sm {
    width: 60px;
    height: 60px;
}

.div-banner {
    background-color: #FFFFFF;
    /*padding: 0px 7px 0px 7px;*/
    font-size: 10pt;
}

.site-header {
    width: 100%;
    height: 135px;
    padding-top: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
    z-index: 99;
}

.icon-info {
    color: #518FD6;
    left: 0px;
    vertical-align: bottom;
    top: -9px;
    width: 3px;
}

.tr-question {
    color: #26558A;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}


.tr-bg-blue {
    background-color: #26558A;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.tr-bg-gray {
    background-color: #dddddd;
    color: #000000;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.sub-text {
    font-size: small;
    font-weight: normal;
}

.text-total {
    font-weight: bold;
    text-indent: 10px;
}

.text-indent {
    text-indent: 5px;
}

.text-footer {
    color: #000;
}

.text-isa-blue {
    color: #26558A;
}

.table-survey {
    border: 1px solid #c2c2c2;
    border-collapse: unset;
    width: 100%; /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}

.table-inner-borders {
    border-collapse: collapse;
}

    .table-inner-borders td, .table-inner-borders th {
        border: 1px solid #ddd;
    }

    .table-inner-borders tr:first-child th {
        border-top: 0;
    }

    .table-inner-borders tr:last-child td {
        border-bottom: 0;
    }

    .table-inner-borders tr td:first-child,
    .table-inner-borders tr th:first-child {
        border-left: 0;
    }

    .table-inner-borders tr td:last-child,
    .table-inner-borders tr th:last-child {
        border-right: 0;
    }

.td-top {
    vertical-align: top;
}

.td-bg-gray {
    background-color: #e5e5e5;
}

.td-vertical-bottom {
    vertical-align: bottom;
}

/*Start Reporting Styles*/
.report-card-grade-green {
    background-color: #C6EFCE;
    text-align: center;
    white-space: nowrap;
}

.report-card-grade-yellow {
    background-color: #FFFFCC;
    text-align: center;
    white-space: nowrap;
}

.report-card-grade-red {
    background-color: #FFC7CE;
    text-align: center;
    white-space: nowrap;
}

.NormCell {
    text-align: center;
    white-space: nowrap;
}

.SectionHeader {
    text-align: left;
    font-weight: bold;
    background-color: #2E537E;
    color: White;
    font-size: 15pt;
}

.SubSectionHeader {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    background-color: #c8b17e;
    color: White;
    font-size: 13pt;
}

.countsSection {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    color: #23527c;
}

.section {
    border: 1px Solid #DBE7F5;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.popup {
    border: 1px Solid #DBE7F5;
    padding: 5px;
    background: White;
    width: auto !important;
    min-width: 280px !important;
}

.criteriaSection {
    border: 0px Solid #23527c;
    margin-top: 30px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.criteriaLink {
    border-radius: 7px;
    color: #00315C;
    border: 1px Solid #6f8594;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    background-color: #B1B4B6;
}

.countsSection {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    color: #23527c;
}

.section {
    border: 1px Solid #DBE7F5;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.popup {
    border: 1px Solid #DBE7F5;
    padding: 5px;
    background: White;
    width: auto !important;
    min-width: 280px !important;
}



.gridHeader {
    background-color: #0F2039;
    color: White;
    font-weight: bold;
    text-align: left;
    font-size: 14pt;
    vertical-align: bottom;
}

.gridHeaderSub {
    background-color: #949CAB;
    color: #FFF;
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
}

.gridHeaderSub2 {
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
}

.gridHeaderSub1 {
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-style: italic;
}

.nav-rpt {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.nav-rpt-sm {
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#ul-rpt-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    #ul-rpt-nav li {
        display: inline-block;
        float: none;
        text-align: center;
        vertical-align: top;
        width: 155px;
    }

.rpt-icon-lg {
    width: 128px;
    height: 128px;
}

.text-rpt-link {
    font-size: 16pt;
}

.rpt-nav-icon {
    width: 100px;
    height: 100px;
}

#ul-rpt-nav-sm {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    text-align: center;
}

    #ul-rpt-nav-sm li {
        display: inline-block;
        width: 120px;
        text-align: center;
        vertical-align: top;
        padding-left: 15px;
        padding-right: 15px;
    }

.rpt-nav-icon-sm {
    width: 60px;
    height: 60px;
}

.grid {
    width: 85%;
    border: 1px Solid #6f8594;
    /*border-collapse: collapse;*/
    font-family: Arial, sans-serif;
    padding: 6px;
}

.datacell {
    width: 100px;
    border-left: 1px solid #000000 !important;
    border-collapse: collapse;
}

.grid th {
    padding: 5px;
    text-align: center;
}

.grid td {
    padding: 5px;
}

.gridRow {
    background-color: White;
    font-size: 13px;
    border-left: 1px solid #000000 !important;
    border-collapse: collapse;
}

.gridAlternateRow {
    background-color: #eeeeee;
    font-size: 13px;
}

.icr-table {
    border: 1px solid black;
    /*border-collapse: collapse;*/
}

.icr-main-header {
    color: #000000;
    font-weight: bold;
    text-align: left;
    font-size: 10pt;
    vertical-align: bottom;
    border-bottom: 1px #cccccc solid;
}

.icon-excel {
    height: 25px;
    width: 25px;
}

.rpt-icon-lg {
    width: 192px;
    height: 192px;
}
/*End Reporting Styles*/
